@import "tailwindcss";

@theme {
  --color-primary: #0B5FFF;
  --color-secondary: #111827;
  --color-accent: #14B8A6;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}